<%= render('shared/navbar') %>

<div class="pt-12 pb-12 pl-2 pr-2 bg-gray-100">
  <div class="container mx-auto max-w-3xl">
    <ul>
      <% @job_posts.each do |job_post| %>
        <%= render('job_post_list_item', job_post: job_post) %>
      <% end %>
    </ul>
  </div>
</div>
